* {
  box-sizing: border-box;
  margin: 0;
}

.b1 {
  height: 100vh;
  width: 100%;
  position: relative;
  /* background: linear-gradient(45deg, rgb(22, 22, 22) 50%, rgb(44, 44, 44) 50%); */
  /* background: linear-gradient(
    90deg,
    rgb(184, 63, 63) 1%,
    rgb(76, 76, 252) 1% 2%,
    #121212 2% 98%,
    rgb(184, 63, 63) 98% 99%,
    rgb(76, 76, 252) 99% 100%
  ); */

  background-image: url("opening.png");
}

.p1 {
  display: inline-block;
  font-family: fantasy;
  font-size: 70px;
  margin-top: 4%;
  background: linear-gradient(
    180deg,
    rgb(240, 229, 82) 59%,
    rgb(218, 205, 23) 59%
  );
  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

/* a {
  text-align: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
} */

.pokeball_img {
  height: 150px;
  width: 150px;
  margin-right: 40px;
  margin-left: 20px;
  margin-top: 25%;
  background: linear-gradient(
    140deg,
    rgb(255, 243, 70) 70%,
    rgb(197, 184, 6) 70%
  );
  padding: 10px;
  border-radius: 20px;
  border: solid #313131 4px;
}

.hdr1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 50px; */
  background: linear-gradient(
    120deg,
    rgb(76, 76, 252) 59%,
    rgb(184, 63, 63) 59%
  );
  text-align: center;
  border-bottom: solid rgb(255, 243, 70) 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

p {
  display: inline-block;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  color: rgb(8, 8, 8);
  display: block;
  margin: auto;
  width: 50%;
}

.hdr2 {
  height: 450px;
  display: flex;
  width: 100%;
  background-image: url("sq\ header.jpg");
  border-bottom: solid rgb(134, 134, 243) 10px;
  margin-bottom: 50px;
}

#charmander_header {
  background-image: url("ch_header.jpg");
  border-bottom: solid #c7855a8e 3px;
  height: 395px;
}

#bulb_header {
  background-image: url("bulb_header.jpg");
  border-bottom: solid #000000bd 3px;
  height: 600px;
}

#blb_body {
  background: linear-gradient(90deg, #437c29fa 50%, rgba(122, 228, 108, 0.685));
}

.ev_td {
  padding-left: 5%;
  padding-right: 5%;
}

.quote {
  padding: 10px 10px;
  border-right: solid 5px rgb(184, 63, 63);
  border-top: solid 5px rgb(184, 63, 63);
  border-left: solid 5px rgb(76, 76, 252);
  border-bottom: solid 5px rgb(76, 76, 252);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(255, 243, 70);
  font-size: 30px;
  font-style: italic;
  text-align: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(184, 63, 63);
  margin-top: 0px;
  margin-bottom: 50px;
}

.quote a {
  border: none;
  margin: 0;
  color: rgb(76, 76, 252);
}

#pk {
  color: rgb(76, 76, 252);
  margin-left: 100px;
}

#s1 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-top: 50px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  display: flex;

  width: 100%;
}

.page1images {
  height: 350px;
  width: 220px;
  border-radius: 7px;
  margin-left: 100px;
  margin-right: 100px;
  border: solid 3px;
}
#sqpic:hover {
  color: #111;
  box-shadow: 0 0 100px rgb(0, 255, 213);
}
#chpic:hover {
  color: #111;
  box-shadow: 0 0 100px rgb(255, 81, 0);
}
#blbpic:hover {
  color: #111;
  box-shadow: 0 0 100px rgb(0, 255, 34);
}

.btn {
  border-radius: 10px;
  padding: 15px;
  /* border: 4px solid #313131; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  border: 1px;
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 50px;
}

#btn3 {
  background-color: rgb(0, 255, 255);
}
#btn3:hover {
  background-color: rgb(68, 148, 148);
  cursor: pointer;
}

#btn2 {
  background-color: orange;
}
#btn2:hover {
  background-color: orangered;
  cursor: pointer;
}

#btn1 {
  background-color: rgb(35, 165, 94);
}
#btn1:hover {
  background-color: green;
  cursor: pointer;
}

#pika {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.container {
  border-radius: 10px;
  background-color: rgb(33, 33, 143);
  width: 400px;
}

.hp {
  padding: 15px;
  border-radius: 10px;
  background-color: khaki;
  width: 20%;
}
.attack {
  padding: 15px;
  border-radius: 10px;
  background-color: khaki;
  width: 21%;
}
.defence {
  padding: 15px;
  border-radius: 10px;
  background-color: khaki;
  width: 35%;
}
.speed {
  padding: 15px;
  border-radius: 10px;
  background-color: khaki;
  width: 20%;
}

.evol_images {
  height: 320px;
  width: 320px;
  border-radius: 20px;
}

.ev_text {
  text-align: center;
  width: 300px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

.b2 {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(90deg, #425570 50%, rgb(110, 110, 110));
  justify-content: center;
  /* display: flex; */
}

#charmander_body {
  /* background: linear-gradient(90deg, rgb(155, 46, 13) 60%, #6d0a21); */
  background: linear-gradient(90deg, #e0752efa 50%, rgba(255, 33, 33, 0.856));
}

.ev_td {
  margin-right: 20px;
}

.sq_video {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toc_container {
  background: #111436 none repeat scroll 0 0;
  border-radius: 5px;
  border: 1px solid #2f2f31;
  display: table;
  font-size: 20px;
  margin-bottom: 20px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}
#ch_ref {
  background: rgba(124, 17, 17, 0.877) none repeat scroll 0 0;
}

#b_ref {
  background: rgba(9, 77, 9, 0.877) none repeat scroll 0 0;
}

.toc_title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #2c5faa;
}

h1 {
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: "Courier New", Courier, monospace;
}

table {
  border-collapse: separate;
  border-spacing: 70px;
}

#sq_ftr {
  height: 200px;
  display: flex;
  width: 100%;
  background-color: #9199f1;
  border-top: #111436 5px;
  align-items: center;
  margin-top: 50px;
}

#ch_ftr {
  height: 200px;
  display: flex;
  width: 100%;
  background-color: #e42911;
  border-top: #e47f44 5px;
  align-items: center;
  margin-top: 50px;
}
#ftr_txt {
  font-weight: bolder;
  text-align: center;
  font-size: 50px;
}

.ch_a {
  color: rgb(165, 99, 55);
}

.ch_b {
  color: rgb(71, 196, 13);
}

.run_gif {
  border: solid 3px rgba(26, 26, 26, 0.973);
  height: 300px;
  width: 400px;
  display: inline-block;
  color: rgb(8, 8, 8);
  display: block;
  margin: auto;
}

#blb_ftr {
  height: 200px;
  display: flex;
  width: 100%;
  background-color: #125f12;
  border-top: #b2ff8e 5px;
  align-items: center;
  margin-top: 50px;
}
